{% extends "base/layout.html" %}

{% block body %}
<h4>Управление классом</h4>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>Список учеников</h5>
            {% if students %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя ученика</th>
                        <th scope="col">Количество правильных ответов</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ student.name }}</td>
                        <td>
                            {% if student.tests %}
                            <ul class="list-unstyled">
                                {% for test in student.tests %}
                                <li>
                                    Тест {{ test.course_id }}: {{ test.correct_count }} правильных ответов
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <span class="text-muted">Нет пройденных тестов</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-info" role="alert">
                У вас пока нет учеников в классе.
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
