.hidden {
    display: none;
}

.btn-red {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-green {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.quiztion{
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}