{% extends "base/layout.html" %}

{% block body %}

<h1>Список пользователей</h1>
<div class="col-md-12">
    <table class="table-striped" width="100%">
        <thead>
            <tr>
                <th scope="col">Логин</th>
                <th scope="col">Роль</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}