{% extends "layout.html" %}

{% block body %}

<h4>Условный оператор</h4>
<p>При записи на языке Python разветвляющихся алгоритмов используют условный оператор.</p>
<p>Его общий вид: if &lt;условие&gt;: &lt;операторы&gt; else: &lt;операторы&gt;</p>
<p>В качестве условий используются логические выражения:</p>
<ul>
    <li>простые — записанные с помощью операций отношения (, &gt;=, &lt;=, != (не равно), == (равно));</li>
    <li>составные — записанные с помощью логических операций (and, or, not).</li>
</ul>
<p>В языке Python разрешены двойные неравенства, например A &lt; B &lt; C.</p>

<h4>Многообразие способов записи ветвлений</h4>
<p>Внутри условного оператора могут находиться любые операторы, в том числе и другие условные операторы. Условные
    операторы, находящиеся внутри блоков, следующих после if («если») или else («иначе»), называются вложенными
    условными операторами</p>
<pre>
    <code>
        if &lt;условие&gt;:
            &lt;операторы&gt;  
        else:
            if &lt;условие&gt;: 
                &lt;операторы&gt; 
            else:        
                &lt;операторы&gt; 
    </code>
</pre>
<p>Если после else сразу следует ещё один оператор if, можно использовать так называемое «каскадное» ветвление с
    ключевыми словами elif (сокращение от else-if).</p>


{% if not session.get("role") %} <p>Невозможно определить роль пользователя, обратитесь к администратору сайта.</p>
{% elif session.get("role") == 'Учащийся' %}
<p>Здесь отображается только часть для учащегося</p>
{% else %}
<p>Здесь отображается часть для учителя и администратора</p>
{% endif %}

{% endblock %}