{% extends "layout.html" %}

{% block body %}

<div class="container md">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form action="/login" method="POST">
                    <div class="text-center mb-3">
                        <p>Войдите в систему:</p>
                    </div>

                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="loginName" class="form-control" name="loginName"/>
                        <label class="form-label" for="loginName">Введите своё имя</label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="loginPassword" class="form-control" name="loginPassword"/>
                        <label class="form-label" for="loginPassword">Введите пароль</label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-primary btn-block mb-4">Войдите
                    </button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>


    {% endblock %}