{% extends "layout.html" %}

{% block body %}

<div class="container md">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                <form action="/register" method="POST">
                    <div class="text-center mb-3">
                        <p>Добавьте или измените данные пользователя в системе:</p>
                    </div>

                    <!-- Username input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="registerUsername" class="form-control" name="registerUsername"/>
                        <label class="form-label" for="registerUsername">Введите имя пользователя</label>
                    </div>

                    <select class="form-control select-input" aria-label="Выберите роль пользователя" name="registerUsertype">
                        <option disabled selected value="">Выберите роль пользователя</option>
                        {% for key, value in usertypes.items() %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                    <br>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="registerPassword" class="form-control" name="registerPassword"/>
                        <label class="form-control" for="registerPassword">Введите пароль</label>
                    </div>

                    <!-- Repeat Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="registerRepeatPassword" class="form-control" name="registerRepeatPassword" />
                        <label class="form-control" for="registerRepeatPassword">Введите пароль повторно</label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-primary btn-block mb-3">Зарегистрировать пользователя
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}