<!-- Без стилей Bootstrap нет визуального оформления. -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- Сначала jQuery, потом Bootstrap JS — основные принципы работы скриптов. -->
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<!-- Получите корректное выпадающее меню. -->
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Меню</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Пункт 1</a>
        <a class="dropdown-item" href="#">Пункт 2</a>
    </div>
</div>