{% extends "base/layout.html" %}

{% block body %}

<p>Запись вспомогательных алгоритмов в языках программирования осуществляется с помощью подпрограмм. В Python различают два вида подпрограмм: процедуры и функции.</p>
<h4>Процедуры</h4>
<p>Процедура — это подпрограмма, выполняющая некоторые действия; она может иметь произвольное количество входных параметров. Описание процедуры имеет вид:</p> 
<pre>
    <code>
        def  &lt;имя процедуры&gt;():
            &lt;операторы&gt;
    </code>
</pre>

<p>Процедура начинается со служебного слова def. После этого записывается имя процедуры, скобки и двоеточие. Операторы, которые входят в тело процедуры, записываются с отступом. Так мы показываем, какие команды входят в процедуру. Для того чтобы процедура заработала, её необходимо вызвать по имени; причём таких вызовов может быть сколько угодно. Процедура должна быть определена к моменту её вызова, т. е. должна быть выполнена команда def, которая создаёт объект-процедуру в памяти. Если процедура вызывается из основной программы, то нужно поместить определение процедуры раньше точки её вызова.</p>
<p>Предположим, что требуется вывести четыре строки, состоящие из семи, восьми, девяти и десяти единиц соответственно.</p>
<p>Для этого создадим процедуру с параметром, определяющим длину строки. Чтобы вывести единицу п раз воспользуемся командой: print('1' * n) Чтобы использовать эту команду в процедуре, укажем в скобках переменную (параметр), значение которой и будет определять длину строки.</p>
<pre>
    <code>
        def digit(n): 
            print ('1' * n)
    </code>
</pre>
<p>Чтобы вывести строку требуемой длины, нужно вызвать процедуру, указав в скобках значение параметра n, т. е. количество символов ' 1':</p>
<pre>
    <code>
        def digit (n) :
            print ('1' * n) 
        
        digit(7)  # выводит 7 единиц: 1111111 
        digit(8)  # выводит 8 единиц: 11111111 
        digit(9)  # выводит 9 единиц: 111111111 
        digit(lO) # выводит 10 единиц: 1111111111
    </code>
</pre>
 
<p>Процедура может зависеть от нескольких параметров. Давайте немного улучшим процедуру digit (): сделаем так, чтобы можно было изменять не только длину строки, но и цифры, из которых она строится. Для этого добавим в процедуру ещё один параметр, который назовём d:</p>
<pre>
    <code>
        def digit(d, n): 
            print(d * n)
    </code>
</pre>
<p>Обозначение переменных, значения которых мы вводим с клавиатуры, не обязательно должно совпадать с обозначением параметров процедуры. Мы могли бы назвать их любыми другими именами, например:</p>
<pre>
    <code>
        def digit(d, n) : 
            print(d * n) 
        
        x=(input('Введите цифру: '))
        y=int(input('Введите длину строки:'))
        digit(x, y)
    </code>
</pre>
<p>Переменные d и n — это локальные переменные; они определены и используются только внутри процедуры digit (). Обращаться к ним вне этой процедуры нельзя. Как только работа процедуры будет закончена, все её локальные переменные удалятся из памяти. В тех случаях, когда значение переменной, полученное в подпрограмме, должно быть использовано в основной программе, эту переменную следует объявить как глобальную.</p>

<h4>Функции</h4>
<p>Функция — это подпрограмма, имеющая единственный результат, записываемый в ячейку памяти. В отличие от процедуры, функция не только выполняет какие-то команды, но и возвращает результат в виде числа, символьной строки или др. Описание функции имеет вид:</p> 
<pre>
    <code>
        def &lt;имя функции&gt;(): 
            &lt;операторы&gt;
            return &lt;результат&gt;
    </code>
</pre>
<p>Функция начинается со служебного слова def. После этого записывается имя функции, скобки и двоеточие. Операторы, которые входят в тело функции, записываются с отступом. После оператора return записывается результат, который возвращает функция. В языке Python есть встроенная функция max () , вычисляющая максимальное значение из нескольких аргументов.</p>
<p>Результат функции можно сразу вывести на экран: print(max(6, 8)) Также мы можем присвоить результат работы функции любой глобальной переменной: x = max (6, 8). Одна функция может вызывать другую.</p>


{% if not session.get("role") %} <p>Невозможно определить роль пользователя, обратитесь к администратору сайта.</p> 
{% elif session.get("role") == 'Учащийся' %}
<h4>Пройдите тест для проверки знаний</h4>
<form id="quiz" action="/course6" method="POST">
    <div>
        <div class="quiztion">
            <p>1. Для чего используются подпрограммы?</p>
            <div class="btn-group col-md-12">
                <input type="radio" class="btn-check" name="q1" id="q1_1" autocomplete="off" value="1" />
                <label class="btn" for="q1_1" data-mdb-ripple-init>Для увеличения размера программы</label>

                <input type="radio" class="btn-check" name="q1" id="q1_2" autocomplete="off" value="2" />
                <label class="btn" for="q1_2" data-mdb-ripple-init>Для записи данных программы в файл</label>

                <input type="radio" class="btn-check" name="q1" id="q1_3" autocomplete="off" value="3" />
                <label class="btn" for="q1_3" data-mdb-ripple-init>Для хранения данных программы</label>

                <input type="radio" class="btn-check" name="q1" id="q1_4" autocomplete="off" value="4" />
                <label class="btn" for="q1_4" data-mdb-ripple-init>Для записи вспомогательных алгоритмов</label>
            </div>
        </div>
        <div class="quiztion">
            <p>2. В чём основное различие процедур и функций?</p>
            <div class="btn-group col-md-12">
                <input type="radio" class="btn-check" name="q2" id="q2_1" autocomplete="off" value="1" />
                <label class="btn" for="q2_1" data-mdb-ripple-init>Между ними нет различий</label>

                <input type="radio" class="btn-check" name="q2" id="q2_2" autocomplete="off" value="2" />
                <label class="btn" for="q2_2" data-mdb-ripple-init>Процедура обрабатывает входные данные, а функция выходные</label>

                <input type="radio" class="btn-check" name="q2" id="q2_3" autocomplete="off" value="3" />
                <label class="btn" for="q2_3" data-mdb-ripple-init>Процедура выполняет операции, а функция нет</label>

                <input type="radio" class="btn-check" name="q2" id="q2_4" autocomplete="off" value="4" />
                <label class="btn" for="q2_4" data-mdb-ripple-init>Процедура не возвращает значение, а функция возвращает</label>
            </div>
        </div>
        <div class="quiztion">
            <p>3. Определите, сколько звёздочек будет выведено в результате вызова f(7)?</p>
            <pre>
                <code>
                    def f(n):
                        if n > 1: f(n // 2)
                        print('**', end='')
                </code>
            </pre>
            <div class="btn-group col-md-12">
                <input type="radio" class="btn-check" name="q3" id="q3_1" autocomplete="off" value="1" />
                <label class="btn" for="q3_1" data-mdb-ripple-init>6 звёздочек</label>

                <input type="radio" class="btn-check" name="q3" id="q3_2" autocomplete="off" value="2" />
                <label class="btn" for="q3_2" data-mdb-ripple-init>5 звёздочек</label>

                <input type="radio" class="btn-check" name="q3" id="q3_3" autocomplete="off" value="3" />
                <label class="btn" for="q3_3" data-mdb-ripple-init>7 звёздочек</label>

                <input type="radio" class="btn-check" name="q3" id="q3_4" autocomplete="off" value="4" />
                <label class="btn" for="q3_4" data-mdb-ripple-init>4 звёздочки</label>
            </div>
        </div>
        <div class="quiztion">
            <p>4. Какое значение будет присвоено переменной f в результате выполнения программы со следующими исходными значениями a, b, c, d: 13 -2 7 0</p>
            <pre>
            <code>
                def max(a, b):
                    if a > b:
                        m = a
                    else:
                        m = b
                    return m

                a, b, c, d = map(int, input().split()) 
                f = max(max(a, b), max(c, d)) 
            </code>
        </pre>
            <div class="btn-group col-md-12">
                <input type="radio" class="btn-check" name="q4" id="q4_1" autocomplete="off" value="1" />
                <label class="btn" for="q4_1" data-mdb-ripple-init>m</label>

                <input type="radio" class="btn-check" name="q4" id="q4_2" autocomplete="off" value="2" />
                <label class="btn" for="q4_2" data-mdb-ripple-init>13</label>

                <input type="radio" class="btn-check" name="q4" id="q4_3" autocomplete="off" value="3" />
                <label class="btn" for="q4_3" data-mdb-ripple-init>-2</label>

                <input type="radio" class="btn-check" name="q4" id="q4_4" autocomplete="off" value="4" />
                <label class="btn" for="q4_4" data-mdb-ripple-init>'max(max(a, b), max(c, d))'</label>
            </div>
        </div>
        <div class="quiztion">
            <p>5. Чему будет равно значение переменной d после выполнения кода, если введены значения x, y: 5, 3?</p>
            <pre>
                <code>
                    def digit(d, n) :
                        print(d * n)
                    x= (input('Введите цифру: ') )
                    y=int(input('Введите длину строки:'))
                    digit(x, y)
                </code>
            </pre>
            <div class="btn-group col-md-12">
                <input type="radio" class="btn-check" name="q5" id="q5_1" autocomplete="off" value="1" />
                <label class="btn" for="q5_1" data-mdb-ripple-init>Переменная d получит значение 5</label>

                <input type="radio" class="btn-check" name="q5" id="q5_2" autocomplete="off" value="2" />
                <label class="btn" for="q5_2" data-mdb-ripple-init>Переменная d локальная, её значение будет удалено после выполнения процедуры</label>

                <input type="radio" class="btn-check" name="q5" id="q5_3" autocomplete="off" value="3" />
                <label class="btn" for="q5_3" data-mdb-ripple-init>Переменная d получит значение 3</label>

                <input type="radio" class="btn-check" name="q5" id="q5_4" autocomplete="off" value="4" />
                <label class="btn" for="q5_4" data-mdb-ripple-init>Переменная d получит значение x</label>
            </div>
        </div>
        <input type="submit" value="Проверить ответы" id="checkAnswers" class="btn btn-primary col-md-12">
    </div>
</form>
{% else %}
<h4>Пройдите тест для проверки знаний</h4>
<p>Отображение теста пока доступно только для учащихся</p>
{% endif %}
<script>
    document.getElementById('quiz').addEventListener('submit', function (event) {
        event.preventDefault(); // Предотвращаем отправку формы
        const q1Answer = document.querySelector('input[name="q1"]:checked');
        const q2Answer = document.querySelector('input[name="q2"]:checked');
        const q3Answer = document.querySelector('input[name="q3"]:checked');
        const q4Answer = document.querySelector('input[name="q4"]:checked');
        const q5Answer = document.querySelector('input[name="q5"]:checked');
        // Проверяем, есть ли ответы на все вопросы
        if (!q1Answer || !q2Answer || !q3Answer || !q4Answer || !q5Answer) {
            alert('Вы не ответили на все вопросы');
            return; // Прекращаем выполнение функции, если не все вопросы отвечены
        }

        // Если ответы на все вопросы даны, продолжаем с проверкой результатов
        const answers = [
            q1Answer.value,
            q2Answer.value,
            q3Answer.value,
            q4Answer.value,
            q5Answer.value
        ];

        // Задаем правильные ответы
        const correctAnswers = ['4', '4', '1', '2', '2'];

        // Подсчитываем количество правильных ответов
        let score = 0;
        for (let i = 0; i < answers.length; i++) {
            if (answers[i] === correctAnswers[i]) {
                score++;
            } else {
                // Проверяем каждый ответ и устанавливаем красный цвет для неверных ответов
                for (let i = 0; i < answers.length; i++) {
                    const selectedAnswer = document.querySelector(`input[name="q${i + 1}"][value="${answers[i]}"]`);
                    if (selectedAnswer) {
                        const labelForAnswer = document.querySelector(`label[for="${selectedAnswer.id}"]`);
                        if (labelForAnswer && (answers[i] !== correctAnswers[i])) {
                            labelForAnswer.classList.add('btn-red');
                        } else {
                            labelForAnswer.classList.add('btn-green');
                        }
                    }
                }
            }
        }
    })
</script>
{% endblock %}