{% extends "courses/course_base.html" %}
{% block body %}
{% if session.get("role") == "Учитель" %}
    <a href="{{ url_for('static', filename='docs/PythonBasics.pdf') }}" class="btn btn-success" download>Посмотреть методические материалы</a>
{% endif %}

<h4>Условный оператор</h4>
<p>При записи на языке Python разветвляющихся алгоритмов используют условный оператор. Его общий вид:</p>
<pre>
    <code>
        if &lt;условие&gt;: 
            &lt;операторы&gt; 
        else: 
            &lt;операторы&gt;
    </code>
</pre>
<p>Условие, которое нужно проверить, записывается после слова if. Если условие верно, выполняются все команды,
    записанные после строки с оператором if (со сдвигом вправо). Если условие неверно, выполняются все команды,
    записанные после строки с оператором else (со сдвигом вправо).</p>
<p>В качестве условий используются логические выражения:</p>
<ul>
    <li>простые — записанные с помощью операций отношения (, &gt;=, &lt;=, != (не равно), == (равно));</li>
    <li>составные — записанные с помощью логических операций (and, or, not).</li>
</ul>
<p>В языке Python разрешены двойные неравенства, например A &lt; B &lt; C.</p>

<h4>Многообразие способов записи ветвлений</h4>
<p>Внутри условного оператора могут находиться любые операторы, в том числе и другие условные операторы. Условные
    операторы, находящиеся внутри блоков, следующих после if («если») или else («иначе»), называются вложенными
    условными операторами</p>
<pre>
    <code>
        if &lt;условие&gt;:
            &lt;операторы&gt;  
        else:
            if &lt;условие&gt;: 
                &lt;операторы&gt; 
            else:        
                &lt;операторы&gt; 
    </code>
</pre>
<p>Для записи неполных ветвлений используется неполный условный оператор if без последующего условия else.</p>
<p>Если после else сразу следует ещё один оператор if, можно использовать так называемое «каскадное» ветвление с
    ключевыми словами elif (сокращение от else-if).</p>
<p>Для выбора из нескольких вариантов используют следующую конструкцию условного оператора:</p>
<pre>
    <code>
        if &lt;условие&gt;:
            &lt;операторы&gt;  
        elif &lt;условие&gt;: 
            &lt;операторы&gt; 
        else:        
            &lt;операторы&gt; 
    </code>
</pre>

{# Вызываем родительский блок для вывода теста #}
{{ super() }}
{% endblock %}
