{% extends "base/layout.html" %}

{% block body %}

<h4>Числовые типы данных</h4>
<table class="table-striped" width="100%">
    <thead>
        <tr>
            <th scope="col">Функция</th>
            <th scope="col">Назначение</th>
            <th scope="col">Тип аргумента</th>
            <th scope="col">Тип результата</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>abs(x)</td>
            <td>Абсолютная величина (модуль) числа x</td>
            <td>int, float</td>
            <td>Такой же, как у аргумента</td>
        </tr>
        <tr>
            <td>round(x)</td>
            <td>Округление вещественного x до заданного количества знаков после запятой (по умолчанию - до нуля знаков, т.е. до ближайшего целого)</td>
            <td>float</td>
            <td>int, float</td>
        </tr>
        <tr>
            <td>int(x)</td>
            <td>Преобразование вещественного или строкового x к целому</td>
            <td>str, float</td>
            <td>int</td>
        </tr>
        <tr>
            <td>sqrt(x)</td>
            <td>Квадратный корень из x</td>
            <td>int, float</td>
            <td>float</td>
        </tr>
        <tr>
            <td>sin(x)</td>
            <td>Синус угла x, заданного в радианах</td>
            <td>int, float</td>
            <td>float</td>
        </tr>
        <tr>
            <td>random()</td>
            <td>Случайное число от 0 до 1</td>
            <td>-</td>
            <td>float</td>
        </tr>
        <tr>
            <td>randint(a,b)</td>
            <td>Случайное целое число n, а &lt;= n &lt;= b</td>
            <td>int</td>
            <td>int</td>
        </tr>
    </tbody>
</table>

<p>Первые три из представленных в таблице функций встроены в язык Python, чтобы их вызвать, не надо выполнять никаких
    дополнительных действий. </p>
<p>Например, программа ввода вещественного числа и вывода его абсолютной величины может выглядеть так: x = float(input
    ()) print(abs (x) )</p>
<p>Что касается функций sqrt(x) и sin(x), то для их вызова предварительно надо подключить модуль math, в котором собраны
    математические функции.</p>
<p>Подключение модуля осуществляется командой import. Например, команда from math import * подключает к программе все
    функции (так как стоит знак * ) модуля math. После этого к ним можно будет обращаться так же, как к встроенным
    функциям: y = sqrt(x) z = sin(x) </p>
<p>Для того, чтобы записать в переменную a случайное число в диапазоне от 1 до 10, можно использовать следующие
    операторы:</p>
<pre>
    <code>
        from random import randint # Подключаем функцию randint() модуля random 
        a = randint(1, 10) # Обращаемся к функции randint() как к встроенной       
    </code>
</pre>
<h4>Целочисленный тип данных</h4>
<p>Над целыми числами в языке Python можно выполнять следующие операции:</p>
<ul>
    <li>сложение (+); </li>
    <li>вычитание (—);</li>
    <li>умножение (*);</li>
    <li>целочисленное деление или получение неполного частного (//);</li>
    <li>взятие остатка или получение остатка от деления (%);</li>
    <li>деление (/);</li>
    <li>возведение в степень (**).</li>
</ul>

<p>Результаты первых пяти операций — целые числа. Результатом операции деления может быть вещественное число. </p>
<p>Рассмотрим пример использования операций // и %, записав на языке Python программу нахождения суммы цифр вводимого с
    клавиатуры натурального трёхзначного числа. Используем тот факт, что положительное трёхзначное число можно
    представить в виде следующей суммы:
    <br>x = a*100 + b * 10 + c, где a, b, c — цифры числа.
</p>

<h4>Строковый тип данных</h4>
<p>Значением строковой величины (тип str) является произвольная последовательность символов, заключенная в одинарные или
    двойные кавычки. Символьная строка рассматривается как единый объект.</p>
<p>В тексте программы переменную строкового типа можно задать, заключив цепочку символов в одинарные или двойные
    кавычки:</p>
<pre>
    <code>
        d = ' 5 '
        c = 'Book'
        c1 = "1*"
    </code>
</pre>

<p>Встроенная функция len() определяет длину строки — количество символов в ней: n = len(s)
<p>Можно проверить равенство (совпадение) строк (d == c) или выяснить, какая из двух строк меньше (при этом используется
    поочерёдное сравнение кодов
    символов, образующих слова; меньшим будет то слово, у которого код очередного символа окажется меньше).</p>
<p>В Python (как и в алгоритмическом языке) строки можно сцеплять: a + b (к концу строки a прикрепляется
    («приписывается»)
    строка b).</p>
<p>Пусть d = c1 + d + c1 Тогда в переменную d будет записана следующая строка: '1*51*' .</p>
<p>В результате операции a * k, где k — целое число, строка a повторяется k раз.
    Так, в результате выполнения команды print(d * 3) будет выведена строка: 1*51*1*51*1*51*</p>

<h4>Логический тип данных</h4>
<p>Как известно, величины логического типа принимают всего два значения; в Python это False и True. Эти константы
    определены так, что False &lt; True. Пусть ans — логическая переменная, а N — переменная целого типа. Тогда в
    результате выполнения оператора присваивания ans = N % 2 == 0 переменной ans будет присвоено значение True при любом
    чётном N и
    False в противном случае. </p>
<p>Логическим переменным также можно присваивать значения логических выражений, построенных с
    помощью известных вам логических операций И, ИЛИ, НЕ, которые в Python обозначаются соответственно and, or, not.</p>

{% if not session.get("role") %} <p>Невозможно определить роль пользователя, обратитесь к администратору сайта.</p>
{% elif session.get("role") == 'Учащийся' %}
<h4>Пройдите тест для проверки знаний</h4>
<form id="quiz" action="/course3" method="POST">
    <div>
        <div class="quiztion">
            <p>1. Укажите истинное высказывание.</p>
            <div class="btn-group col-md-12">
                <input type="radio" class="btn-check" name="q1" id="q1_1" autocomplete="off" value="1" />
                <label class="btn" for="q1_1" data-mdb-ripple-init>'a' &lt; 'b' or 1 &gt; 0 == True</label>

                <input type="radio" class="btn-check" name="q1" id="q1_2" autocomplete="off" value="2" />
                <label class="btn" for="q1_2" data-mdb-ripple-init>3 &gt; 2 and 5 &gt; 6 == True</label>

                <input type="radio" class="btn-check" name="q1" id="q1_3" autocomplete="off" value="3" />
                <label class="btn" for="q1_3" data-mdb-ripple-init>61 // 5 * 3 == 410 // 3 == 3</label>

                <input type="radio" class="btn-check" name="q1" id="q1_4" autocomplete="off" value="4" />
                <label class="btn" for="q1_4" data-mdb-ripple-init>2 // 3 == 1</label>
            </div>
        </div>
        <div class="quiztion">
            <p>2. Определите результат работы программы для следующих входных данных: -3 -9.</p>
            <pre>
            <code>
                a, b = map(int, input ().split()) 
                c = (a + b + abs (a - b) ) // 2 
                print(c)
            </code>
        </pre>
            <div class="btn-group col-md-12">
                <input type="radio" class="btn-check" name="q2" id="q2_1" autocomplete="off" value="1" />
                <label class="btn" for="q2_1" data-mdb-ripple-init>-3</label>

                <input type="radio" class="btn-check" name="q2" id="q2_2" autocomplete="off" value="2" />
                <label class="btn" for="q2_2" data-mdb-ripple-init>-9</label>

                <input type="radio" class="btn-check" name="q2" id="q2_3" autocomplete="off" value="3" />
                <label class="btn" for="q2_3" data-mdb-ripple-init>-12</label>

                <input type="radio" class="btn-check" name="q2" id="q2_4" autocomplete="off" value="4" />
                <label class="btn" for="q2_4" data-mdb-ripple-init>3</label>
            </div>
        </div>
        <div class="quiztion">
            <p>3. Даны значения целочисленных переменных: a = 10, b = 20. В каком случае значение логической переменной rez будет истинно?</p>
            <div class="btn-group col-md-12">
                <input type="radio" class="btn-check" name="q3" id="q3_1" autocomplete="off" value="1" />
                <label class="btn" for="q3_1" data-mdb-ripple-init>rez = (not (a &lt; 15)) or (b &gt; 20)</label>

                <input type="radio" class="btn-check" name="q3" id="q3_2" autocomplete="off" value="2" />
                <label class="btn" for="q3_2" data-mdb-ripple-init>rez = (not (a &gt; 15)) and (b &gt; 20)</label>

                <input type="radio" class="btn-check" name="q3" id="q3_3" autocomplete="off" value="3" />
                <label class="btn" for="q3_3" data-mdb-ripple-init>rez = (a &gt; 15) or (b &gt; 20)</label>

                <input type="radio" class="btn-check" name="q3" id="q3_4" autocomplete="off" value="4" />
                <label class="btn" for="q3_4" data-mdb-ripple-init>rez = (not (a &gt; 15)) or (b &gt; 20)</label>
            </div>
        </div>
        <div class="quiztion">
            <p>4. При каких исходных данных высказывание «Этот четырёхугольник является прямоугольником» будет истинным.</p>
            <pre>
            <code>
                print('Введите две стороны четырёхугольника:') 
                a = int(input()) 
                b = int(input())
                print ('Введите диагонали четырёхугольника:')
                d1 = int(input())
                d2 = int(input())
                ans = a != b and d1 == d2
                print ('Этот четырехугольник является прямоугольником - ', ans)
            </code>
        </pre>
            <div class="btn-group col-md-12">
                <input type="radio" class="btn-check" name="q4" id="q4_1" autocomplete="off" value="1" />
                <label class="btn" for="q4_1" data-mdb-ripple-init>Диагонали равны квадратному корню из суммы сторон</label>

                <input type="radio" class="btn-check" name="q4" id="q4_2" autocomplete="off" value="2" />
                <label class="btn" for="q4_2" data-mdb-ripple-init>Стороны различны, а диагонали равны</label>

                <input type="radio" class="btn-check" name="q4" id="q4_3" autocomplete="off" value="3" />
                <label class="btn" for="q4_3" data-mdb-ripple-init>Стороны равны, а диагонали различны</label>

                <input type="radio" class="btn-check" name="q4" id="q4_4" autocomplete="off" value="4" />
                <label class="btn" for="q4_4" data-mdb-ripple-init>Стороны равны диагоналям</label>
            </div>
        </div>
        <div class="quiztion">
            <p>5. Что выполняет функция randint(0, x)? </p>
            <div class="btn-group col-md-12">
                <input type="radio" class="btn-check" name="q5" id="q5_1" autocomplete="off" value="1" />
                <label class="btn" for="q5_1" data-mdb-ripple-init>Получение либо 0, либо x</label>

                <input type="radio" class="btn-check" name="q5" id="q5_2" autocomplete="off" value="2" />
                <label class="btn" for="q5_2" data-mdb-ripple-init>Получение случайного числа от 0 до 1</label>

                <input type="radio" class="btn-check" name="q5" id="q5_3" autocomplete="off" value="3" />
                <label class="btn" for="q5_3" data-mdb-ripple-init>Получение случайного целого числа от 0 до x</label>

                <input type="radio" class="btn-check" name="q5" id="q5_4" autocomplete="off" value="4" />
                <label class="btn" for="q5_4" data-mdb-ripple-init>Округление x до указанного количества знаков после запятой</label>
            </div>
        </div>
        <input type="submit" value="Проверить ответы" id="checkAnswers" class="btn btn-primary col-md-12">

    </div>
</form>
{% else %}
<h4>Пройдите тест для проверки знаний</h4>
<p>Отображение теста пока доступно только для учащихся</p>
{% endif %}
<script>
    document.getElementById('quiz').addEventListener('submit', function (event) {
        event.preventDefault(); // Предотвращаем отправку формы
        const q1Answer = document.querySelector('input[name="q1"]:checked');
        const q2Answer = document.querySelector('input[name="q2"]:checked');
        const q3Answer = document.querySelector('input[name="q3"]:checked');
        const q4Answer = document.querySelector('input[name="q4"]:checked');
        const q5Answer = document.querySelector('input[name="q5"]:checked');
        // Проверяем, есть ли ответы на все вопросы
        if (!q1Answer || !q2Answer || !q3Answer || !q4Answer || !q5Answer) {
            alert('Вы не ответили на все вопросы');
            return; // Прекращаем выполнение функции, если не все вопросы отвечены
        }

        // Если ответы на все вопросы даны, продолжаем с проверкой результатов
        const answers = [
            q1Answer.value,
            q2Answer.value,
            q3Answer.value,
            q4Answer.value,
            q5Answer.value
        ];

        // Задаем правильные ответы
        const correctAnswers = ['1', '1', '4', '2', '3'];

        // Подсчитываем количество правильных ответов
        let score = 0;
        for (let i = 0; i < answers.length; i++) {
            if (answers[i] === correctAnswers[i]) {
                score++;
            } else {
                // Проверяем каждый ответ и устанавливаем красный цвет для неверных ответов
                for (let i = 0; i < answers.length; i++) {
                    const selectedAnswer = document.querySelector(`input[name="q${i + 1}"][value="${answers[i]}"]`);
                    if (selectedAnswer) {
                        const labelForAnswer = document.querySelector(`label[for="${selectedAnswer.id}"]`);
                        if (labelForAnswer && (answers[i] !== correctAnswers[i])) {
                            labelForAnswer.classList.add('btn-red');
                        } else {
                            labelForAnswer.classList.add('btn-green');
                        }
                    }
                }
            }
        }
    })
</script>
{% endblock %}